# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environment
venv/
env/

# Django
*.log
db.sqlite3
media/
staticfiles/

# Environment files
.env
*.env

# VS Code
.vscode/

# macOS / Windows
.DS_Store
Thumbs.db
